<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prostate.record.mapper.AnamnesisMapper">
  <resultMap id="BaseResultMap" type="com.prostate.record.entity.Anamnesis">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="patient_id" jdbcType="VARCHAR" property="patientId" />
    <result column="anamnesis_type_id" jdbcType="VARCHAR" property="anamnesisTypeId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="anamnesis_remark" jdbcType="VARCHAR" property="anamnesisRemark" />
    <result column="create_doctor" jdbcType="VARCHAR" property="createDoctor" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_doctor" jdbcType="VARCHAR" property="updateDoctor" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_doctor" jdbcType="VARCHAR" property="deleteDoctor" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
  </resultMap>
  <insert id="insertSelective" parameterType="com.prostate.record.entity.Anamnesis">
    <selectKey keyProperty="id" resultType="java.lang.String"
               order="BEFORE">
      select replace(uuid(),'-','') from dual
    </selectKey>
    insert into pomr_anamnesis
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="patientId != null">
        patient_id,
      </if>
      <if test="anamnesisTypeId != null">
        anamnesis_type_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="anamnesisRemark != null">
        anamnesis_remark,
      </if>
      <if test="createDoctor != null">
        create_doctor,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateDoctor != null">
        update_doctor,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleteDoctor != null">
        delete_doctor,
      </if>
      <if test="deleteTime != null">
        delete_time,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="patientId != null">
        #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="anamnesisTypeId != null">
        #{anamnesisTypeId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="anamnesisRemark != null">
        #{anamnesisRemark,jdbcType=VARCHAR},
      </if>
      <if test="createDoctor != null">
        #{createDoctor,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDoctor != null">
        #{updateDoctor,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteDoctor != null">
        #{deleteDoctor,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


  <update id="updateSelective" parameterType="com.prostate.record.entity.Anamnesis">
    update pomr_anamnesis
    <set>
      <if test="patientId != null">
        patient_id = #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="anamnesisTypeId != null">
        anamnesis_type_id = #{anamnesisTypeId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="anamnesisRemark != null">
        anamnesis_remark = #{anamnesisRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="checkRepeated" parameterType="com.prostate.record.entity.Anamnesis" resultType="java.lang.Integer">
    select count(*)
    from pomr_anamnesis
    <where>
      del_flag = 0
      <if test="patientId != null">
        AND patient_id = #{patientId,jdbcType=VARCHAR}
      </if>
      <if test="anamnesisTypeId != null">
        AND anamnesis_type_id = #{anamnesisTypeId,jdbcType=VARCHAR}
      </if>
      <if test="orderId != null">
        AND order_id = #{orderId,jdbcType=VARCHAR}
      </if>
      <if test="anamnesisRemark != null">
        AND anamnesis_remark = #{anamnesisRemark,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <delete id="deleteById" parameterType="java.lang.String">
    delete from pomr_anamnesis where id = #{id,jdbcType=VARCHAR}
  </delete>
</mapper>